*~
*#
*.png
*.dot
src_managed
project/plugins/project
project/boot/*
*/project/build/target
*/project/boot
lib_managed
etags
tags
TAGS
reports
dist
build
target
deploy/*.jar
data
out
logs
.#*
.ensime
.manager
manifest.mf
*.iws
*.ipr
*.iml
.project
.settings
.classpath
.idea
.scala_dependencies
multiverse.log
.eprj
